@charset "UTF-8";
/* css none! */
textarea, input, button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    /* 기타 스타일 속성들도 필요에 따라 추가해주세요 */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.board-list-wrapper {
	width: 70%;
	margin-top: 20px;
	text-align: center; /* 게시판 리스트 페이지 내의 요소들을 가운데 정렬 */
}
.board-list-title {
    font-size: 36px;
    margin-bottom: 20px;
}
.board-list-table {
    width: 100%;
    border-collapse: collapse;
}
.board-list-table th, .board-list-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.board-list-table th {
    background-color: #f2f2f2;
}
.board-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.board-list-table tbody tr:hover {
    background-color: #e0e0e0;
}
.board-write-button {
    margin-top: 20px;
}

 .board-write-button button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.board-write-button button:hover {
    background-color: #0056b3; 
}

.board-write-button:last-child {
    margin-right: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
   color: inherit; /* 링크의 기본 색상을 상속 */
}